{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="well well-lg">
			<p>
				<span class="glyphicon glyphicon-user"></span>
				welcome {{ doctor }}
			</p>
		</div>
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Patients
				<span class="caret"></span> 
				</button>
				<ul class="dropdown-menu">
					<li><a href="{% url 'create-patient' %}">Add patient</a></li>
     				<li><a href="{% url 'patient-list' %}" data-elabs="get-patients">View patients</a></li>
				</ul>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Visit
				<span class="caret"></span> 
				</button>
				<ul class="dropdown-menu">
					<li><a href="{% url 'patient-visit' %}">New visit</a></li>
     				<li><a href="{% url 'patients-served' %}" data-elabs="get-served-patients">View visits served </a></li>
				</ul>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tests
				<span class="caret"></span> 
				</button>
				<ul class="dropdown-menu">
					<li><a href="{% url 'test-request' %}">Request test</a></li>
     				<li><a href="{% url 'tests-requested' %}" data-elabs="get-requested-tests">View tests requested</a></li>
				</ul>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="	false"> Account
				<span class="caret"></span> 
				</button>
				<ul class="dropdown-menu">
					<li><a href="{% url 'notifications' %}">Notifications</a></li>
     				<li><a href="{% url 'signout' %}">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="content-section">
		
	</div>
{% endblock %}