{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes"/>


	<title>Elabs | </title>

	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/dpLoading-2.x-min.css' %}" rel="stylesheet">
	<link href="{% static 'css/dpLoading-2.x-skin-grey-min.css' %}" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					Elabs 
				</a>
			</div>
		</div>
	</div>
	<section>
		{% block content %}

		{% endblock %}
	</section>
<script type="text/javascript" src="{% static 'scripts/jquery-2.2.3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/dpLoading-2.x-min.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/elabs.js'%}"></script>
</body>
</html>