{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
	{% include 'welcomejumbotron.html' %}
	<div class="col-md-6 col-xs-12 col-md-offset-2">
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>Log in</legend>
				{% if authentication %}
					<div class="alert alert-danger" role="alert">Incorrect login credentials </div>
				{% endif %}
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" placeholder="username" name="username">
				</div>
				<div class="form-group">
					<label for="password">Username</label>
					<input type="password" class="form-control" id="password" placeholder="password" name="password">
				</div>
			</fieldset>
			<button type="submit" class="btn btn-default">log in</button>
		</form>
	</div>
{% endblock %}