{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Notifications </h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                submitted results <span class="badge"> 4 </span>
                            </a>
                            <a href="#" class="list-group-item">
                                Tests not performed <span class="badge"> 2 </span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                       {{ doctor }} Elabs
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}