{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-6 col-xs-12 col-md-offset-2">
        <div>
            <div class="alert alert-info" role="alert" data-elabs="allergy-section">
                <h3>Allergy</h3>
                <p></p>
            </div>
        </div>
        <form action="" method="post">{% csrf_token %}
            <div id="div_id_patient" class="form-group">
                <label for="id-patient" class="control-label requiredField"> Patient </label>
                <div class="controls">
                    <select class="select form-control" id="id_patient" name="patient" data-elabs="patient-select">
                        <option value="">Please choose a patient</option>
                        {% for patient in patients %}
                            <option value="{{ patient.id }}"> {{ patient.first_name }} {{ patient.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {{ form|crispy }}
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}