
{% if patients %}
	<div class="panel panel-default" style="margin-top:10px">
		<div class="panel-heading">
			<h2 class="panel-title"> Patients </h2>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>DOB</th>
					<th>Email</th>
					<th>Mobile number</th>
					<th>Id number</th>
					<th>Passport number</th>
					<th>Allergy</th>
					<th>Insurance</th>
				</tr>
			</thead>
			<tbody>
				{% for patient in patients %}
					<tr>
						<td>{{ patient.first_name }} {{ patient.last_name }} {{ patient.middle_name }}</td>
						<td> {{ patient.date_of_birth }} </td>
						<td>{{ patient.email }}</td>
						<td>{{ patient.mobile_number }}</td>
						<td>{{ patient.id_number }}</td>
						<td>{{ patient.passport_number }}</td>
						<td>{{ patient.allergy }}</td>
						<td>{{ patient.insurance }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
{% else %}
	<div class="alert alert-danger" role="alert" style="margin-top:10px;">
		<span class="glyphicon glyphicon-remove"></span>
		Sorry, you have not added any patients
	</div>
{% endif %}