
{% if visits %}
    <div class="panel panel-default" style="margin-top:10px">
        <div class="panel-heading">
            <h2 class="panel-title"> Patients served </h2>
        </div>
        <table class="table container-fluid">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Allergy</th>
                    <th>Diagnosis</th>
                    <th>Visit</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in visits %}
                    <tr>
                        <td>{{ visit.doctor.username }}</td>
                        <td>{{ visit.patient.first_name }} {{ visit.patient.last_name }}</td>
                        <td>{{ visit.patient.allergy }}</td>
                        <td>{{ visit.diagnosis }}</td>
                        <td>{{ visit.visit }}</td>
                        <td>{{ visit.current_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-danger" role="alert" style="margin-top:10px;">
        <span class="glyphicon glyphicon-remove"></span>
        Sorry, you have not served any patients yet.
    </div>
{% endif %}