{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
	<div class="col-md-6 col-xs-12 col-md-offset-2">
		<form action="" method="post">{% csrf_token %}
		    {{ form|crispy }}
		    <input type="submit" value="Create" class="btn btn-default" />
		</form>
	</div>
{% endblock %}