{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-6 col-xs-12 col-md-offset-2">
        <form action="" method="post">{% csrf_token %}
            <div id="div_id_laboratory" class="form-group">
                <label for="id-laboratory" class="control-label"> Laboratory </label>
                <div class="controls">
                    <select class="select form-control" id="id_laboratory" name="laboratory">
                        <option value="" selected></option>
                        {% for laboratory in laboratories %}
                            <option value="{{ laboratory.id }}"> {{ laboratory.name }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="div_id_test" class="form-group">
               <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Test 1" name="test1">
                        Test 1
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Test 2" name="test2">
                        Test 2
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Test 3" name="test3">
                        Test 3
                    </label>
                </div>
            </div>
            {{ form|crispy }}
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}