{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="test_id" value="{{ id }}">
            <p>Are you sure you want to delete this test?</p>
            <input type="submit" value="Confirm"  class="btn btn-default" />
        </form>
    </div>    
{% endblock %}