{% if tests %}
    <div class="panel panel-default" style="margin-top:10px">
        <div class="panel-heading">
            <h3 class="panel-title"> Tests requested </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Test(s)</th>
                    <th>Laboratory</th>
                    <th>Date requested</th>
                    <th>Results expected after</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                        <tr>  
                            <td>{{ test.patient_visit.doctor }}</td>
                            <td>{{ test.patient_visit.patient.first_name }}, {{ test.patient_visit.patient.last_name }}</td>
                            <td><a href="{% url 'test-edit' test.id  %}"> {{ test.name }} </a></td>
                            <td>{{ test.laboratory.name }}</td>
                            <td>{{ test.date_rquested  }}</td>
                            <td>{{ test.result_expected }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
     <div class="alert alert-danger" role="alert" style="margin-top:10px;">
        <span class="glyphicon glyphicon-remove"></span>
        Sorry, you have not Requested any tests yet.
    </div>
{% endif %}